In [ ]:
import os
from google.colab import drive
drive.mount('/content/drive')
os.getcwd()
os.chdir('drive')
os.chdir('MyDrive')
os.chdir('Coursera Project')

In [ ]:
# installing module for Yahoo Finance API
!pip install yfinance

In [ ]:
# Importing Necessary Libraries
import pandas as pd
import yfinance as yf
from datetime import datetime
from IPython.display import display

In [ ]:
# Downloading data for the MAANG Companies
Company_names = ['Amazon', 'Apple', 'Google', 'Meta', 'Netflix']
company_dict = {}
company_dict["Amazon"]=yf.download('AMZN', period='max')
company_dict["Apple"]=yf.download('AAPL', period='max')
company_dict["Google"]=yf.download('GOOG', period='max')
company_dict["Meta"]=yf.download('META', period='max')
company_dict["Netflix"]=yf.download('NFLX', period='max')

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [ ]:
# Display Dataframes
for i in Company_names:
  print()
  print(f"Dataframe for {i} Company")
  display(company_dict[i])
  print()

Dataframe for Amazon Company

                 Open       High        Low      Close  Adj Close      Volume
Date
1997-05-15   0.121875   0.125000   0.096354   0.097917   0.097917  1443120000
1997-05-16   0.098438   0.098958   0.085417   0.086458   0.086458   294000000
1997-05-19   0.088021   0.088542   0.081250   0.085417   0.085417   122136000
1997-05-20   0.086458   0.087500   0.081771   0.081771   0.081771   109344000
1997-05-21   0.081771   0.082292   0.068750   0.071354   0.071354   377064000
...               ...        ...        ...        ...        ...         ...
2023-03-06  95.190002  96.550003  93.739998  93.750000  93.750000    52112400
2023-03-07  94.059998  95.089996  92.779999  93.550003  93.550003    49100700
2023-03-08  93.599998  94.169998  92.180000  93.919998  93.919998    44899100
2023-03-09  93.680000  96.209999  92.180000  92.250000  92.250000    56218700
2023-03-10  92.669998  93.570000  90.250000  90.730003  90.730003    69747500

[6498 rows x 6 columns]

Dataframe for Apple Company

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
1980-12-12,0.128348,0.128906,0.128348,0.128348,0.099722,469033600
1980-12-15,0.122210,0.122210,0.121652,0.121652,0.094519,175884800
1980-12-16,0.113281,0.113281,0.112723,0.112723,0.087582,105728000
1980-12-17,0.115513,0.116071,0.115513,0.115513,0.089749,86441600
1980-12-18,0.118862,0.119420,0.118862,0.118862,0.092351,73449600
...,...,...,...,...,...,...
2023-03-06,153.789993,156.300003,153.460007,153.830002,153.830002,87558000
2023-03-07,153.699997,154.029999,151.130005,151.600006,151.600006,56182000
2023-03-08,152.809998,153.470001,151.830002,152.869995,152.869995,47204800
2023-03-09,153.559998,154.539993,150.229996,150.589996,150.589996,53833600
2023-03-10,150.210007,150.940002,147.610001,148.500000,148.500000,68524400

Dataframe for Google Company

                 Open       High        Low      Close  Adj Close     Volume
Date
2004-08-19   2.490664   2.591785   2.390042   2.499133   2.499133  897427216
2004-08-20   2.515820   2.716817   2.503118   2.697639   2.697639  458857488
2004-08-23   2.758411   2.826406   2.716070   2.724787   2.724787  366857939
2004-08-24   2.770615   2.779581   2.579581   2.611960   2.611960  306396159
2004-08-25   2.614201   2.689918   2.587302   2.640104   2.640104  184645512
...               ...        ...        ...        ...        ...        ...
2023-03-06  94.360001  96.300003  94.300003  95.580002  95.580002   28288200
2023-03-07  95.419998  96.089996  93.844002  94.169998  94.169998   24101500
2023-03-08  94.404999  96.239998  94.404999  94.650002  94.650002   25395200
2023-03-09  94.489998  95.919998  92.355003  92.660004  92.660004   24438900
2023-03-10  92.500000  93.180000  90.800003  91.010002  91.010002   32831700

[4672 rows x 6 columns]

Dataframe for Meta Company

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2012-05-18,42.049999,45.000000,38.000000,38.230000,38.230000,573576400
2012-05-21,36.529999,36.660000,33.000000,34.029999,34.029999,168192700
2012-05-22,32.610001,33.590000,30.940001,31.000000,31.000000,101786600
2012-05-23,31.370001,32.500000,31.360001,32.000000,32.000000,73600000
2012-05-24,32.950001,33.209999,31.770000,33.029999,33.029999,50237200
...,...,...,...,...,...,...
2023-03-06,188.000000,189.660004,184.639999,184.899994,184.899994,33209400
2023-03-07,189.000000,190.360001,184.009995,184.509995,184.509995,36701500
2023-03-08,182.869995,185.259995,181.339996,184.970001,184.970001,19432400
2023-03-09,186.350006,188.929993,180.300003,181.690002,181.690002,26582800
2023-03-10,181.009995,184.770004,178.800003,179.509995,179.509995,25547400

Dataframe for Netflix Company

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2002-05-23,1.156429,1.242857,1.145714,1.196429,1.196429,104790000
2002-05-24,1.214286,1.225000,1.197143,1.210000,1.210000,11104800
2002-05-28,1.213571,1.232143,1.157143,1.157143,1.157143,6609400
2002-05-29,1.164286,1.164286,1.085714,1.103571,1.103571,6757800
2002-05-30,1.107857,1.107857,1.071429,1.071429,1.071429,10154200
...,...,...,...,...,...,...
2023-03-06,317.000000,323.299988,311.839996,312.029999,312.029999,5660700
2023-03-07,312.679993,314.299988,306.619995,308.470001,308.470001,4553100
2023-03-08,309.290009,311.829987,305.750000,311.790009,311.790009,3479500
2023-03-09,312.079987,312.510010,294.880005,297.779999,297.779999,7443400
2023-03-10,297.899994,298.790009,289.000000,292.760010,292.760010,5753800

In [ ]:
# Describe Dataframes with null values
for i in Company_names:
  print()
  print(f"Description of data for {i} Company")
  display(company_dict[i].describe())
  print(f"Null values in the data for {i} Company")
  display(company_dict[i].isnull().sum(axis = 0))
  print()

Description of data for Amazon Company

,Open,High,Low,Close,Adj Close,Volume
count,6498.000000,6498.000000,6498.000000,6498.000000,6498.000000,6.498000e+03
mean,31.425786,31.802941,31.010145,31.412629,31.412629,1.427673e+08
std,48.031573,48.593805,47.401699,47.994680,47.994680,1.402839e+08
min,0.070313,0.072396,0.065625,0.069792,0.069792,9.744000e+06
25%,1.995125,2.025000,1.957500,2.000125,2.000125,6.901152e+07
50%,6.399250,6.497000,6.304750,6.417000,6.417000,1.060610e+08
75%,38.288124,38.524001,38.026374,38.312751,38.312751,1.609865e+08
max,187.199997,188.654007,184.839493,186.570496,186.570496,2.086584e+09

Null values in the data for Amazon Company

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

Description of data for Apple Company

,Open,High,Low,Close,Adj Close,Volume
count,10650.000000,10650.000000,10650.000000,10650.000000,10650.000000,1.065000e+04
mean,17.031530,17.226498,16.840313,17.040630,16.348689,3.265257e+08
std,36.059781,36.499566,35.637748,36.086106,35.727288,3.375422e+08
min,0.049665,0.049665,0.049107,0.049107,0.038154,0.000000e+00
25%,0.287946,0.296875,0.281791,0.288286,0.238217,1.204336e+08
50%,0.490000,0.497768,0.482143,0.488839,0.405243,2.136848e+08
75%,16.544018,16.650804,16.343839,16.547143,14.287372,4.062394e+08
max,182.630005,182.940002,179.119995,182.009995,180.683868,7.421641e+09

Null values in the data for Apple Company

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

Description of data for Google Company

,Open,High,Low,Close,Adj Close,Volume
count,4672.000000,4672.000000,4672.000000,4672.000000,4672.000000,4.672000e+03
mean,38.194669,38.592470,37.801407,38.202752,38.202752,1.226904e+08
std,35.510899,35.909531,35.131735,35.522376,35.522376,1.530012e+08
min,2.470490,2.534002,2.390042,2.490913,2.490913,1.584340e+05
25%,12.654381,12.763472,12.483148,12.627731,12.627731,2.967750e+07
50%,25.506721,25.750677,25.236115,25.482538,25.482538,6.704094e+07
75%,54.428751,55.127749,53.803249,54.458750,54.458750,1.530566e+08
max,151.863495,152.100006,149.887497,150.709000,150.709000,1.650833e+09

Null values in the data for Google Company

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

Description of data for Meta Company

,Open,High,Low,Close,Adj Close,Volume
count,2720.000000,2720.000000,2720.000000,2720.000000,2720.000000,2.720000e+03
mean,148.167070,150.072382,146.292618,148.209283,148.209283,3.123556e+07
std,86.277795,87.362818,85.230191,86.305906,86.305906,2.710129e+07
min,18.080000,18.270000,17.549999,17.730000,17.730000,5.913100e+06
25%,78.115002,78.937502,77.352501,78.350002,78.350002,1.631942e+07
50%,143.080002,145.199997,141.394997,143.800003,143.800003,2.330840e+07
75%,190.577503,193.154999,187.855003,190.145000,190.145000,3.610565e+07
max,381.679993,384.329987,378.809998,382.179993,382.179993,5.735764e+08

Null values in the data for Meta Company

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

Description of data for Netflix Company

,Open,High,Low,Close,Adj Close,Volume
count,5236.000000,5236.000000,5236.000000,5236.000000,5236.000000,5.236000e+03
mean,121.908560,123.820563,119.910649,121.919194,121.919194,1.628933e+07
std,168.287755,170.729793,165.658478,168.234863,168.234863,1.896686e+07
min,0.377857,0.410714,0.346429,0.372857,0.372857,2.856000e+05
25%,4.036786,4.115714,3.945357,4.034286,4.034286,6.178700e+06
50%,30.419286,30.942143,29.705000,30.410000,30.410000,1.042825e+07
75%,190.512497,192.602497,186.890003,190.179996,190.179996,1.939700e+07
max,692.349976,700.989990,686.090027,691.690002,691.690002,3.234140e+08

Null values in the data for Netflix Company

Open         0
High         0
Low          0
Close        0
Adj Close    0
Volume       0
dtype: int64

In [ ]:
# Saving the Scarpped Data
for i in Company_names:
  company_dict[i].to_csv(i+'.csv', index=True)